# Python
__pycache__/
*.py[cod]
*$py.class
.env
venv/
.venv/
env/

# Large Datasets
Hospital.v1-hospitaldata.yolov8/

# Large Model Files (GitHub limit is 100MB)
models/*.pth

# OS files
.DS_Store
Thumbs.db
